				body{
					font-family: sans-serif !important;
				} 
				.top-menu-link{
					font-size: 18px;
					color: black;
					font-weight: 450;
					text-transform: capitalize;
				}
				.top-menu-link:hover{
					background: red;
					border-radius: 5px;
				}
				.color{
				    background: sandybrown !important;
				}
				button.contact-btn{
					width: 120px;
					height: 100px;
					background-color: #fff;
					border: none;
					font-size: 15px;
					text-transform: capitalize;
					font-weight: 200;
					color: black;
					margin-left: 100px;
				}
				button.contact-btn:hover{
					background: linear-gradient(90deg,#fff,#1b81a4);
				}
				button.search-btn{
					margin-left: 0px;
					font-size: 18px;
				    width: 100px !important;
				    border-radius: 800px;
				    height: 50px;
				}
				/*img.slider-height{
					height: 900px;
					object-fit: cover;
				}*/
				h2.title{
					text-align: center;
					font-weight: 200;
					font-size: 50px;
					font-family: fantasy;
				}

				.discription{
					font-size: 50px;
				}
				.content{
					font-size: 20px;
					color: blue;
				}
				.carousel-caption:hover{
					color: black;
					background-color: indianred;
				}
				.footer-content{
					color: whitesmoke;
					background: blue;
					font-size: 15px;
					text-align: center;
					margin-left: 20px;
				}
				.section-card {
				  width: 100%;
				  border: 1px solid red; 
				  min-height: 500px; 
				}
				.card {
				  width: 50%;
				  color: solid black; 
				  height: 400px;
				  box-shadow: 2px 2px 2px 2px yellowgreen;
				  display: inline-block;
				  margin: 15px;
				}
				.card {
				  /* ... */
				  vertical-align: top;
				}
				.section-card {
				  display: flex;
				  flex-wrap: wrap;
				  justify-content: center;
				}

				.card {
				  /* ... */
				  flex-basis: 30%;
				}
				.card:hover {
				  box-shadow: 2px 2px 2px 2px red;
				  background: whitesmoke;
				  transform: scale(0.9);
				}
				img.cardimage{
				    height: 70%;
				}
				.subtitle{
					text-align: center;
					font-size:27px;
					color: black;
				}

				.description{
					font-size: 17px;

				}
				img.image{
					margin-left: 200px;
					margin-top: 70px;
				}
				img.image:hover{
					border: double;
				}
				.vid {
				  transition: transform 0.3s; 
				}

				.vid:hover {
				  transform: scale(0.9);
				  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
				}

				footer{
					background-color: black;
					margin-top: 100px;
				}
				span.icon{
					font-size: 30px;
					margin-right: 0px;
					margin-top: 500px;
					color: white;
				}

				a:visited{
				  color: black;
				}
				a:hover {
				  color: blue;
				  text-decoration: underline;
				}
				.link{
					color: black;
					text-decoration: none;
					font-size: 18px;
				}
				.link:hover{
					text-decoration: underline black;
				}
				.vid{
					width: 100%;
					margin-top: 2px;
					height: 200px;
				/*	margin-left: 90px;*/
				}
				img.image1{
					width: 350px;
					margin-left: 10px;
				}
				img.image1:hover{
					transform: scale(0.9);
				    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
				}
				img.image2{
					width: 350px;
					
				}
				img.image2:hover{
					transform: scale(0.9);
				    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
				}

				/*.ul {
				  margin-top: 10px; 
				  text-align: center;
				}

				.li {
				  list-style: none; 
				  margin-bottom: 10px;
				   
				}

				.link {
				  text-decoration: none; 
				  color: #337ab7;
				}*/
				.card {
				  animation: slide-up 2s ease-in-out;
				}

				@keyframes slide-up {
				  0% {
				    transform: translateY(100%);
				  }
				  100% {
				    transform: translateY(0);
				  }
				}
				.pd{
					height: 100px;
					width: 200px;
					border-radius: 10%;
				}
				 table {
				      border-collapse: collapse;
				      width: 100%;
				    }
				    th, td {
				      border: 1px solid #ddd;
				      padding: 8px;
				      text-align: left;
				      font-size: 20px;
				    }
				    .flag {
				      width: 24px;
				      height: 24px;
				      margin-right: 10px;
				    }
				    th{
			         color: white;
			         background: grey;
				    }
				    td:hover {
			         color: white;
			         background: black;
			         transform: translateY(15px);
				    }
				  .section-card2 {
				  width: 100%;
				  border: 2px solid black; 
				  min-height: 500px; 
				}
				     .gamelogo{
				      width: 55px;
				      height: 32px;
				      margin-right: 10px;
				    }
				    .foot:hover {
				    	text-decoration: underline white;
				    }


				    
